{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'dailydressme/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="background-one">
    <div class="link-container">
      <a class="link-one" href="index">Dressup Test</a>
    </div>
  </div>
  <div class="background-two link-container">
    <a class="link-two" href="https://jhancock532.github.io/link-hover-effects/">About us</a>
  </div>
  <div class="background-three link-container">
    <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Contact</a>
  </div>

</body>
</html>
