/* Apply styles to the header */
header {
  position: relative;
  background-color: black;
  height: 75vh; /* Set the height to 75% of the viewport height */
  min-height: 25rem; /* Minimum height */
  width: 100%;
  overflow: hidden;
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  color: white; /* Text color */
}

/* Apply styles to the video */
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Send the video behind the text */
  transform: translate(-50%, -50%);
}

/* Apply styles to the overlay */
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 0; /* Ensure overlay is below text */
}

/* Apply styles to the text container */
header .text-container {
  position: relative;
  z-index: 1; /* Ensure text is above video and overlay */
  text-align: center;
}

/* Apply styles to the heading */
header h1 {
  font-size: 3rem;
}

/* Apply styles to the lead paragraph */
header p {
  font-size: 1.5rem;
}
